@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #212021;
  color: white;
  font-family: 'Special Elite', sans-serif;
  line-height: 1.5;
}
body {
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  transform: translateY(6px);
}

p {
  transform: translateY(3px);
}